shop-api/demohackaton.jar filter=lfs diff=lfs merge=lfs -text
shop-api/build/opt/demohackaton.jar filter=lfs diff=lfs merge=lfs -text
shop-api/build/lib/demohackaton.jar filter=lfs diff=lfs merge=lfs -text
